
<section id="messages_all">
<h4>Find your nice tenants here!</h4>
<form action='/messages'>
<select name="search_by_suburb">
     <% @suburbs.each do |suburb|%>
       <%if suburb == @current_suburb%>
       <option value="<%=suburb%>" selected><%=suburb%></option>
       <%else%>
          <option value="<%=suburb%>"><%=suburb%></option>
       <%end%>
     <%end%>
</select>
<button>Search</button>
</form>

<form action='/messages'>
<select name="search_by_gender">
     <% @genders.each do |gender|%>
       <%if gender == @current_gender%>
       <option value="<%=gender%>" selected><%=gender%></option>
       <%else%>
          <option value="<%=gender%>"><%=gender%></option>
       <%end%>
     <%end%>
</select>
<button>Search</button>
</form>





<button class="allBtn"><a href='/messages'>All</a></button><br/>

<br/>



<% @messages.each do |message| %>
  <p>
    <a class="messages" href="/messages/<%=message.id%>">
      <%if message.user.gender == "male"%>
      <img class="people" src="/media/image/male.png"/><span>Mr.</span>
      <%elsif message.user.gender == "female"%>
      <img class="people" src="/media/image/female.png"/><span>Miss.</span>
      <%end%>
      <%=message.user.name%> wants to find a home at <strong><%=message.suburb%></strong>, post on <%=message.post_date.localtime.strftime("%d/%m/%Y at %I:%M%p")%>.
    </a>
  </p>
<%end%>

<button><a class="add_p" href="/messages/new">I want to post a new message</a></button>


</section>
