<section id="properties_all">


<h4>Find your dream home here !</h4>
<form action='/properties'>
<select name="search_by_suburb">
     <% @suburbs.each do |suburb|%>
       <%if suburb == @current_suburb%>
       <option value="<%=suburb%>" selected><%=suburb%></option>
       <%else%>
          <option value="<%=suburb%>"><%=suburb%></option>
       <%end%>
     <%end%>
</select>
<button>Search</button>
</form>

<form action='/properties'>
<select name="search_by_purpose_id">
     <% @property_purposes.each do |property_purpose|%>
        <%if property_purpose == @current_purpose%>
          <option value="<%=property_purpose.id%>" selected><%=property_purpose.name%></option>
        <%else%>
          <option value="<%=property_purpose.id%>"><%=property_purpose.name%></option>
        <%end%>
     <%end%>
</select>
<button>Search</button>
</form>

<button class="allBtn"><a href='/properties'>All</a></button><br/>
<br/>
<% @properties.each do |property| %>
  <p>
    <a class="properties" href="/properties/<%=property.id%>">
      <img class="home" src="/media/image/home.png"/>There is a <strong><%=property.property_purpose.name%></strong> home at <strong><%=property.suburb%></strong>, post on <%=property.post_date.localtime.strftime("%d/%m/%Y at %I:%M%p")%>.
    </a>
  </p>
<%end%>

<button><a class="add_p" href="/properties/new">I want to post a new property</a></button>


</section>
