<form action='/properties'>
<select name="search_by_suburb">
     <% @suburbs.each do |suburb|%>
       <%if suburb == @current_suburb%>
       <option value="<%=suburb%>" selected><%=suburb%></option>
       <%else%>
          <option value="<%=suburb%>"><%=suburb%></option>
       <%end%>
     <%end%>
</select>
<button>Search</button>
</form>



<% @properties.each do |property| %>
  <p>
    <a href="/properties/<%=property.id%>">
      * There is a <strong><%=property.property_purpose.name%></strong> home at <strong><%=property.suburb%></strong>, post at <%=property.post_date.localtime%>.
    </a>
  </p>
<%end%>

<button><a href="/properties/new">I want to post a new property</a></button>
