<section id="property_edit">




<h2>Edit your property information</h2>
<div class="property_edit_body">
<form class="" action="/properties/<%=@property.id%>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_method" value="patch">

    <label for="">1. what kind would you change?:</label><br/>
    <select class="" name="input_kind">
        <option value="House">House</option>
        <option value="Town House">TownHose</option>
        <option value="Apartment">Apartment</option>
        <option value="Unit">Unit</option>
    </select><br/>

    <label for="">2. what address would you change?</label><br/>
    <input type="text" name="input_address" value="<%=@property.address%>"><br/>

    <label for="">3. change suburb?</label><br/>
    <input type="text" name="input_suburb" value="<%=@property.suburb%>"><br/>

    <label for="">4. How much for rent?</label><br/>
    <input type="text" name="input_rent" value="<%=@property.rent%>"><span>(dollars) Per week</span><br/>

    <label for="">5. Edit your description ?</label><br/>
    <textarea name="input_description" rows="8" cols="40"><%=@property.description%></textarea><br/>

    <label for="">6. Do you want to change</label><br/>
    <select class="" name="property_purpose_id">
     <% @property_purposes.each do |property_purpose|%>
      <option value="<%=property_purpose.id%>"><%=property_purpose.name%></option>
     <%end%>
    </select><br/>

    <label class="control-label">7. Add more photos</label>
    <input id="input-1" type="file" class="file" name='input_image'>


    <button>Save changing</button>
    <a href="/properties/<%=@property.id%>">Give up</a>
</form>
</div>
</section>
