<form action='/properties'>
<select name="search_by_suburb">
     <% @suburbs.each do |suburb|%>
       <%if suburb == @current_suburb%>
       <option value="<%=suburb%>" selected><%=suburb%></option>
       <%else%>
          <option value="<%=suburb%>"><%=suburb%></option>
       <%end%>
     <%end%>
</select>
<button>Search</button>
</form>

<form action='/properties'>
<select name="search_by_purpose_id">
     <% @property_purposes.each do |property_purpose|%>
        <%if property_purpose == @current_purpose%>
          <option value="<%=property_purpose.id%>" selected><%=property_purpose.name%></option>
        <%else%>
          <option value="<%=property_purpose.id%>"><%=property_purpose.name%></option>
        <%end%>
     <%end%>
</select>
<button>Search</button>
</form>

<a href='/properties'>All</a>


<% @properties.each do |property| %>
  <p>
    <a href="/properties/<%=property.id%>">
      * There is a <strong><%=property.property_purpose.name%></strong> home at <strong><%=property.suburb%></strong>, post at <%=property.post_date.localtime.strftime("%d/%m/%Y at %I:%M%p")%>.
    </a>
  </p>
<%end%>

<button><a href="/properties/new">I want to post a new property</a></button>
