<section id="property_show">


<a href="/properties">Back to</a>
<h2>Property details</h2>

<p>
 <strong>*</strong> "<%=@user.name%>" has a <%=@property.kind%> <%=@property.property_purpose.name%>.
</p>
<h4>* Address:</h4>
<p>
  <%=@property.address%>, <%=@property.suburb%> Melborun, VIC.
</p>
<h4>* Every week is: <%=@property.rent%> dollars</h4>
<h4>* Description: </h4>
<p><%=@property.description%></p>

<h4>* Property Photos</h4>
<% @images.each do |image| %>
   <img class="photo" src="<%=image.image_url.url%>" alt="" />
<%end%>


<h4>* Contact Details</h4>
<p>
  <strong>Name: </strong><%=@user.name%> <br/>
  <strong>Gender: </strong><%=@user.gender%> <br/>
  <strong>Email: </strong><%=@user.email%> <br/>
  <strong>Phone no: </strong><%=@user.phone%> <br/>
  <strong>Occupation: </strong><%=@user.occupation%>
</p>


<% if session[:user_id] == @property.user_id || current_user.user_type.name == "manager" || current_user.user_type.name == "owner"%>

<button class="editBtn"><a href="/properties/<%=@property.id%>/edit">Edit Property</a></button>

<form action="/properties/<%=@property.id%>"  method="post">
   <input type="hidden" name="_method" value="delete">
   <button class="deleteBtn">Delete Property</button>
</form>

<%else%>
   <h5>PS.You have no right to <strong>edit</strong> or <strong>delete</strong> this message.</h5>

<%end%>




<br/>
<h4>Comments:</h4>
  <% @comments.each do |comment|%>
   <p><strong> * </strong><%=comment.content%> &nbsp &nbsp --left by<em> <%=comment.user.name%></em> (Phone: <%=comment.user.phone%>)</p>
   <hr>
  <%end%>

<form action="/properties/<%= @property.id%>/comments" method="post">
    <textarea name="content" rows="8" cols="40"></textarea>
    <br/>
    <button class="postBtn">Post It</button>
</form>

</section>
