
<h3>user details</h3>

<p>Name: <%=@user.name%></p>
<p>Email: <%=@user.email%></p>
<p>Phone NO: <%=@user.phone%></p>
<p>Occupation: <%=@user.occupation%></p>
<p>He/She is: <%=@user.user_type.name%></p>
<p>He/She has post: ( <%=@user.messages.size%> ) finding home messages</p>
<p>He/She has post: ( <%=@user.properties.size%> ) property information</p>
