<section id="account">



<h3><%=@user.name%>, here is your personal account</h3>



<button><a href="/persion_account/<%=session[:user_id]%>">Edit your persional information</a></button>

<h4>These are your post tenant messages:</h4>
<%@messages.each do |message|%>
   <p><a href="/messages/<%=message.id%>">
     <strong>*</strong> I want to find a home at <strong><%=message.suburb%></strong>, post on <%=message.post_date.localtime.strftime("%d/%m/%Y at %I:%M%p")%>.
   </a></p>
<%end%>

<h4>These are your post properties information:</h4>
<%@properties.each do |property|%>
   <p><a href="/properties/<%=property.id%>">
     <strong>*</strong> There is a <strong><%=property.property_purpose.name%></strong> home at <strong><%=property.suburb%></strong>, post on <%=property.post_date.localtime.strftime("%d/%m/%Y at %I:%M%p")%>.
   </a></p>
<%end%>

</div>
</section>
