

<h5>* Owner:</h5>
<% @owners.each do |owner|%>
   <p><a href="#"><%=owner.name%></a>, <%=owner.email%>,
   Messages( <%=owner.messages.size%> ), Properties( <%=owner.properties.size%> )</p>
<%end%>

<h5>* Managers:</h5>
<% @managers.each do |manager|%>
   <p><a href="#"><%=manager.name%></a>, <%=manager.email%>, Messages( <%=manager.messages.size%> ), Properties( <%=manager.properties.size%> )
     <button><a href='/users/revoke/<%=manager.id%>'>Revoke</a></button></p>
<%end%>

<h5>* Typical users: </h5>
<% @users.each do |user|%>
   <p><a href="#"><%=user.name%></a>, <%=user.email%>, Messages( <%=user.messages.size%> ), Properties( <%=user.properties.size%> )
     <button><a href='/users/<%=user.id%>'>Authorize</a></button>
    <form action='/users/<%=user.id%>' method="post">
        <input type="hidden" name="_method" value="delete">
        <button>Delete</button>
    </form>
   </p>
<%end%>
